<h1>La liste des joueurs.</h1>
    
<div>
    <p>Prénom : <%= @personne.prenom %></p>
    <p>Nom : <%= @personne.nom %></p>
    <p>Profession : <%= @personne.profession %></p>
    <p><%= link_to "index des joueurs", personnes_path %></p>
</div>
